.item {
    margin-bottom: 1rem;
    width: 400px;
}

.customLabel{
    color: #182135;
}

.input {
    border-bottom: 2px solid #eee;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    min-height: 48px;
}

.input::placeholder{
    color:#626264;
}