.header h2 {
    margin-top: 24px;
    text-align: start;
    font-size: 2rem;
    color:rgba(24, 33, 53, 1);
    
}

.header h6{
    margin-top: 24px;
    text-align: start;
    font-size: 1rem;
    color: rgba(98, 98, 100, 1);

}
