.submitButton {
  display: "flex";
  justify-content: "center";
  align-items: "center";
  width: 100%;
  min-height: 64px;
  background-color: #503e9d;
  color: #f7fafc;
  border-radius: 12px;
  margin-top: 24px;
}
