.submitButton {
  width: 100%;
  min-height: 64px;
  background-color: #503e9d1a;
  color: #503e9d;
  border-radius: 12px;
  border: solid 0.1px #503e9d1a;
  margin-top: 24px;
  text-align: center;
}
