.button {
  background-color: var(--secondary-color-10);
  color: var(--secondary-color-100);
  padding-block: 0;
  margin-right: 16px;
  justify-content: center;
  align-items: center;
}

.button.selected {
  background-color: var(--secondary-color-100);
  color: #ffffff;
}
