.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  padding-top: 32px;
  padding-left: 32px;
  padding-right: 32px;
}

.title {
  text-align: center;
  margin: 4px;
}
