.container {
    height: 72px;
    padding: 0 8vw;
}

.menus {
    width: 100%;
}

.items {
    width: 100%;
}

.discountInput {
    height: 100%;
    width: 40%;
    background-color: transparent;
    border-radius: 0;
    border: 1px solid #EEEEEE;
    border-bottom: 0;
}

.searchInput {
    width: 100%;
    background-color: transparent;
}

.searchIcon {
    margin-top: 4px;
    margin-left: 8px;
    height: 24px;
    width: 24px;
    background-color: transparent;
}

.itemsIconButtonContainer {
    height: 100%;
    aspect-ratio: 1;
}

.itemsIconButton {
    height: 100%;
    aspect-ratio: 1;
    background-color: transparent;
    border-radius: 0;
    border: 1px solid #EEEEEE;
    border-bottom: 0;
}