:root {
  --primary-color-100: #503e9d;
  --primary-color-10: #503e9d1a;

  --secondary-color-100: #fb6d3a;
  --secondary-color-10: #fb6d3a1a;

  --tertiary-color-100: #facd5d;
  --tertiary-color-10: #facd5d1a;

  --success-color-100: #419d3e;
  --success-color-10: #419d3e1a;

  --error-color-100: #ff0000;
  --error-color-10: #ff00001a;

  --text-dark: #626264;
}
