.h1-bold {
  //styleName: Text/H1/Bold;
  font-family: "Open Sans";
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0px;
  text-align: left;
}

.h2-bold {
  //styleName: Text/H2/Bold;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}

.h3-bold {
  //styleName: Text/H3/Bold;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0px;
}

.h4-bold {
  //styleName: Text/H4/Bold;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

.h5-bold {
  //styleName: Text/H5/Bold;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

.h6-bold {
  //styleName: Text/H6/Bold;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
}

.body1-regular {
  //styleName: Text/Body/Large/Regular;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}

.body2-regular {
  //styleName: Text/Body/Normal/Regular;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

.body3-regular {
  //styleName: Text/Body/Small/Regular;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

.caption1-regular {
  //styleName: Text/Caption-1/Regular/18pt-line-height;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
}

.caption2-regular {
  //styleName: Text/Caption-2/Regular;
  font-family: "Open Sans";
  font-size: 11px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
}
