.h1-medium-semi {
  margin: 0;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 80px;
  letter-spacing: -1.28px;
}

.h2-medium-semi {
  margin: 0;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 62px;
  letter-spacing: -0.96px;
}

.h3-medium-semi {
  margin: 0;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.96px;
}

.h4-medium-semi {
  margin: 0;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.h5-medium-semi {
  margin: 0;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.p-large-semi {
  margin: 0;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
}

.p-medium-semi {
  margin: 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.p-medium-normal {
  margin: 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.p-small-semi {
  margin: 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
}

.p-small-medium {
  margin: 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}

.p-small-normal {
  margin: 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.button-medium-semi {
  margin: 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 2px;
}